name: Docker Image CI

on:
  push:
    branches: '**'
  release:
    types: [published]
  workflow_dispatch:

permissions:
  id-token: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Extract release version
      id: vars
      run: |
        if [[ "${{ github.ref }}" == refs/tags/* ]]; then
          VERSION=${GITHUB_REF#refs/tags/}
        else
          VERSION="latest"
        fi
        echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
        echo "Release version: ${VERSION}"

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: |
          ${{ steps.image.outputs.OWNER }}/itkit:latest
          ${{ steps.image.outputs.OWNER }}/itkit:${{ steps.vars.outputs.VERSION }}
