name: CI

on:
  push:
    branches: []
  pull_request: {}

jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python 3.14
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install pre-commit
        run: |
          pip install pre-commit
      - name: Run pre-commit hooks
        run: |
          pre-commit run --all-files
