name: CI

on:
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
      contents: read
    continue-on-error: ${{ matrix.python-version == '3.14' }}

    strategy:
      matrix:
        python-version: ${{ github.event_name == 'push' && fromJson('["3.13"]') || fromJson('["3.10", "3.13", "3.14"]') }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: 'pyproject.toml'
    - name: Install uv
      uses: astral-sh/setup-uv@v7
    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y libegl1 libgl1 libopengl0 libxkbcommon0
        python -m pip install --upgrade pip
    - name: Install OneDL dependencies
      run: |
        uv pip install --system onedl-mim
        mim install onedl-mmcv[torch] onedl-mmengine onedl-mmsegmentation
    - name: Install ITKIT dependencies
      run: |
        uv pip install --system -e ".[dev,gui] monai"
    - name: Test with pytest
      env:
        QT_QPA_PLATFORM: offscreen
      run: |
        pytest -sv -m "not torch" --junitxml=pytest.xml
    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        files: pytest.xml
