name: CI

on:
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.python-version == '3.14' }}

    strategy:
      matrix:
        python-version: ${{ github.event_name == 'push' && fromJson('["3.13"]') || fromJson('["3.10", "3.13", "3.14"]') }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: 'pyproject.toml'
    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y libegl1 libgl1 libopengl0 libxkbcommon0
    - name: Install python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e '.[dev,gui,medical_vision]'
    - name: Test with pytest
      env:
        QT_QPA_PLATFORM: offscreen
      run: |
        pytest -sv -m "not torch" --junitxml=pytest.xml
    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        files: pytest.xml
